{
    "account": "",
    "client_id": "7640...content.com",
    "client_secret": "d-FL...0Ty",
    "quota_project_id": "liv...e9",
    "refresh_token": "1//0...VQ0",
    "type": "authorized_user",
    "universe_domain": "googleapis.com"
  }